/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Header/Header.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Header_hero__HHyo_ {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1487754180451-c456f719a1fc?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.Header_container__1EfDa {
  height: calc(43.75rem * var(--mantine-scale));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  z-index: 1;
  position: relative;
}

@media (max-width: 48em) {

.Header_container__1EfDa {
    height: calc(31.25rem * var(--mantine-scale));
    padding-bottom: calc(var(--mantine-spacing-xl) * 3)
}
  }

.Header_title__Isvky {
  color: var(--mantine-color-white);
  font-size: calc(3.75rem * var(--mantine-scale));
  font-weight: 900;
  line-height: 1.1;
}

@media (max-width: 48em) {

.Header_title__Isvky {
    font-size: calc(2.5rem * var(--mantine-scale));
    line-height: 1.2
}
  }

@media (max-width: 36em) {

.Header_title__Isvky {
    font-size: calc(1.75rem * var(--mantine-scale));
    line-height: 1.3
}
  }

.Header_description__mf_WS {
  color: var(--mantine-color-white);
  max-width: calc(37.5rem * var(--mantine-scale));
}

@media (max-width: 48em) {

.Header_description__mf_WS {
    max-width: 100%;
    font-size: var(--mantine-font-size-sm)
}
  }

.Header_control__rn_y_ {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
}

@media (max-width: 48em) {

.Header_control__rn_y_ {
    width: 100%
}
  }
